main {
    background-color: #f2f2f2;
    font-weight: bold;
    letter-spacing: 1px;
}

.header__inner {
    max-width: 1230px;
    text-align: center;
    padding-left: 120px;
}

.header__logo {
    color: #000;
    text-decoration: none;
    font-weight: 600;
    font-size: 2em;
}

.header {
    display: flex;
    background-color: white;
    padding: 20px;
}

.header h1 {
    margin: 0;
}